html, body {
  width: 100%;
  max-width: 100%;
  overflow: visible;
}

img, svg {
  max-width: 100%;
}



/* ===== 1. GLOBAL & BASE STYLES ===== */
:root {
    --legacy-green: #457F5B;
    --legacy-beige: #f9f7f0;
    --text-dark: #333333;
    --border-light: #d6d6d6;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--legacy-beige);
    color: var(--text-dark);
    margin: 0;
    min-height: 100vh;
}













